html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.body-content{
    width:100%;
    min-height: 100px;
    float: left;
    margin-top: 25px;
}
.content-left{
    width: 63%;
    float: left;
    display: inline-block;
}
.news-portal{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-rows: repeat(2, 100px);
}
.content-right{
    width: 34%;
    float: right;
    display: inline-block;

}
.carousel-css img{
    height: 60vh;
}
.carousel-img{
    width: 100%;
    height: auto;

}
.carousel-divcss{
    background-color: gainsboro;
    opacity: 75%;
}
.carousel-divcss h5 p{
    font-weight: bold;
}
.carousel-text a{
    color: #fff;
    text-decoration: none;
}
.carousel-text a:hover{
    text-decoration: underline;
}
/*News portal style*/
.news-portal{
    display: inline-block;
    width: 100%;
    float: left;
    margin-top: 35px;
}
.news-portal a{
    text-decoration: none;
}
.news-portal a:hover{
    text-decoration: underline;
}
.news-portal h3{
    display: inline-block;
    background-color: #1111e1;
    color: #fff;
    font-size: 10px;
    font-weight:700;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

/*news board style*/
.news-board{
    display: inline-block;
    width: 100%;
    float: left;
    margin-bottom: 55px;
}
.news-board h3{
    display: inline-block;
    background-color: #1111e1;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.news-board a{
    text-decoration: none;
}
.news-board a:hover{
    text-decoration: underline;
}
.news-roller{
    display: inline-block;
    background-color: #fff;
}
.news-roller p{
    width: 100%;
    display: inline-block;
    float: left;

    box-sizing: border-box;
}
.news-roller p a{
    color: #333;
}
.news-roller img{
    float: left;
    width:auto;
    height: 100%;
    margin-right: 3px;
}

.news-roller p{
    font-size: medium;
    float: right;
    font-family: sans-serif;
}
.slot2handle,.slot1handle{
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    color: blue;
    text-decoration: underline;
    font-weight: 600;
    text-align: center;
}